@font-face {
    font-family: Torus;
    font-weight: 100;
    src: url(../font/Torus-Thin.otf);
}
@font-face {
	font-family: Torus;
	font-weight: 300;
	src: url(../font/Torus-Light.otf);
}
@font-face {
	font-family: Torus;
	font-weight: 400;
	src: url(../font/Torus-Regular.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(../font/Torus-SemiBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(../font/Torus-SemiBold.otf);
}
@font-face {
	font-family: Torus;
    font-weight: 800;
    src: url(../font/Torus-Bold.otf);
}
@font-face {
	font-family: Torus;
	font-weight: 900;
	src: url(../font/Torus-Heavy.otf);
}

* {
	font-family: Torus;
}

tt {
    font-family: Consolas, monaco, monospace;
}

body {
    background: #2E3440;
    overflow: hidden;
}

main::-webkit-scrollbar {
    width: 6px;
}

main::-webkit-scrollbar-track {
    background-color: #3B4252;
}

main::-webkit-scrollbar-thumb {
    background: #434C5E;
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
    background: #4C566A;
}

main {
    position: fixed;
    top: 3.5em;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.fa-fw {
    vertical-align: middle;
}

.prime-green {
    filter: brightness(0) invert(84%) sepia(14%) saturate(643%) hue-rotate(49deg) brightness(85%) contrast(88%);
}

.prime-red {
    filter: brightness(0) invert(52%) sepia(19%) saturate(1272%) hue-rotate(305deg) brightness(84%) contrast(88%);
}

.rank-image {
    height: 26px;
}

#main-table tr td:last-child,
.prime,
.level,
.login,
.steam_name,
.rank {
    white-space: nowrap;
    width: 1%;
}

.rank {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#main-table th {
    border-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.prime img {
    height: 26px;
}

.form-control-color {
    width: 40px;
}

table tr td.preloader {
    display: none;
}

table tr.pending td.preloader {
    display: table-cell;
}

table tr.pending td:not(.login):not(.preloader) {
    display: none;
}

.preloader .progress {
    margin: 5.5px;
}

th {
    box-shadow: inset 0 -1px var(--danger) !important;
    user-select: none;
}

.tooltip-inner {
    max-width: 500px !important;
}

th>.material-icons {
    font-size: 1.3em;
}

th {
    white-space: nowrap;
}

.sortable {
    cursor: pointer;
}

.sort-asc,
.sort-desc {
    display: none;
}

th.sortable[data-sort-dir="ASC"] .sort-asc,
th.sortable[data-sort-dir="DESC"] .sort-desc {
    display: inline-block;
}

.setup-encryption .btn-success {
    display: initial;
}

#setup-encryption.encrypted .btn-success {
    display: none;
}

#setup-encryption .btn-danger {
    display: none;
}

#setup-encryption.encrypted .btn-danger {
    display: initial;
}